#faqs-page{
  position: relative;
  color: #2b2a2a;
  background-color: #f3f3f3;
  overflow: hidden;

  .bg-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/pages/faqs/bg.jpg');
  }

  .content-section{
    padding-top: 35px;
    padding-bottom: 35px;
    min-height: 77vh;

    .col-info{
      .page-title{
        color: $pink;
        font-size: 1.90rem;
        font-weight: 700;
        text-align: center;
      }

      .subtitle-sm{
        margin-top: 12px;
        color: $pink;
        font-size: 1.00rem;
        font-weight: 700;
      }

      ul{
        padding-left: 15px;
        list-style-type: circle;
      }
    }
  }

  @media screen and (max-width: 991px){
    .bg-image{
      width: 100%;
      opacity: 0.17;
    }
  }
  @media screen and (max-width: 575px){
    .bg-image{
      width: 111%;
      background-position: top center;
    }
  }

}
